@(datosQueRecibo: Datos)


@defining(play.core.PlayVersion.current) { version =>

    <section id="top">
        <div class="wrapper">
            <h1><a href="https://playframework.com/documentation/@version/Home">Dato dinámico: @datosQueRecibo.dato2</a></h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">


            <h1>Estoy en esqueleto</h1>
            <h3>Esto es un dato dinámico definido en el controlador: @datosQueRecibo.dato2.toString</h3>
            <p>
                Estoy en esqueleto
            </p>
            <blockquote>
                <h3>
                    Esto es texto dinámico que se encuentra en esqueleto.scala.html @version
                </h3>
                <h3>Esto es un dato dinámico definido en el controlador: @datosQueRecibo.dato3.toString</h3>
            </blockquote>
    </div>
}

@*
routes --> HomeController.index -->  esquema.scala.html -->  main.scala.html
esqueleto.scala.html es código html que se le pasa a mainEsquema, no es un eslabón de la cadena
*@
