@(datosQueRecibo: Datos)


@defining(play.core.PlayVersion.current) { version =>

    <section id="top">
        <div class="wrapper">
            <h1><a href="https://playframework.com/documentation/@version/Home">Dato dinámico: @datosQueRecibo.dato2</a></h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">


            <h1>Texto estático en un h1</h1>
            <h3>Esto es un dato dinámico definido en el controlador: @datosQueRecibo.dato2.toString</h3>
            <p>
                Texto estático también en un p
            </p>
            <blockquote>
                <p>
                    You’re using Play @version
                </p>
            </blockquote>
    </div>
}
