@(widgets: Seq[Widget2], form: Form[WidgetForm2.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

@main3("Widgets2") {

    <h1>Widgets2</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
    <div>@name: @value</div>
    }

    <table>
        <thead>
            <tr><th>Name</th></tr>
        </thead>
        <tbody>
        @for(w <- widgets) {
            <tr><td>@w.name</td></tr>
        }
        </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(postUrl) {
        @helper.CSRF.formField

        @helper.inputText(form("name"))



        <button>Create widget</button>
    }
}
