@(form: Form[Graph1.DataG], postUrl: Call)(implicit request: MessagesRequestHeader)

@mainViewToIncludeForm("Request") {

  <div class="inputform1">

  <h1>Please enter your request</h1>

  @* Flash shows updates to a page *@
  @request.flash.data.map{ case (name, value) =>
  <div>@name: @value</div>
  }



  @* Global errors are not tied to any particular form field *@
  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
      <div>
        @error.key: @error.message
      </div>
    }
  }

  @helper.form(postUrl) {
    @helper.CSRF.formField

    @helper.inputText(form("name"), '_label -> "Function name:")
    @helper.inputText(form("function"), '_label -> "Function to plot in javascript languaje:")
    @helper.inputText(form("xAxisFrom"), '_label -> "X axis from:")
    @helper.inputText(form("xAxisTo"), '_label -> "X axis to:")
    @helper.inputText(form("yAxisFrom"), '_label -> "Y axis from:")
    @helper.inputText(form("yAxisTo"), '_label -> "Y axis to:")
    @helper.inputText(form("graphColor"), '_label -> "Graph color:")




    <button class="btn mb-1 waves-effect waves-light mr-1" type="submit" name="action">Submit</button>

  </div>


  }
}
